.list-all {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}
.list-all article {
  background: #e6e6fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
}
.list-all article p {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
}

.list-all article a {
  height: 42px;

  border-radius: 20px;
  border: 2px solid #1e90ff;
  background: none;
  margin-top: 10px;
  color: #1e90ff;
  display: flex;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  justify-content: center;
  text-align: center;

  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.list-all article a:hover {
  background: #1e90ff;
  color: #fff;
}

.list-all article button {
  height: 42px;
  width: 657px;
  border-radius: 20px;
  border: 2px solid #ff1e1e;
  background: none;
  margin-top: 10px;
  color: #ff1e1e;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.list-all article button:hover {
  background: #ff1e1e;
  color: #fff;
}
